{% extends "home/homebase.html" %}

{% block headline %}
About SIAC Feedback
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
       <h2>Who We Are</h2>
        We (Pleasanton SIAC) are an action-oriented student council in the Pleasanton Unified School District (PUSD).
        <br /><br />
        <h3>Purpose</h3>
        The Pleasanton Student Inter-schools Action Council supports the power of students to transform their communities by recognizing that when young people are fully engaged, they commit themselves to making positive change in their schools, in their communities, and in their own lives. Students are more motivated to take action when their voices are heard, their opinion matters, and their perspective is respected. SIAC works to identify and address pertinent student issues, thereby assuring that students remain central to all fiscal decisions. The council empowers students to develop character, compassion, civility, and community consciousness to ultimately make a better world.
        <br /><br />
        <h3>Mission</h3>
        Our mission is 1) to provide students with agency in order to contribute to a sense of self-worth, confidence, and the overall belief that they are agents for change and 2) to provide decision makers in our school district with focused and well-developed proposals aimed at impacting the areas of education that are of most importance to students.
        <br /><br />
        <h3>Vision</h3>
        The Student Inter-schools Action Council envisions a world where students take action to make a better world. To reach this vision, we work to:
        <br />
        <ul>
            <li>Communicate with adults in the school district and community who make decisions that impact students</li>
            <li>Take action through organizing projects and campaigns</li>
            <li>Empower students to make positive change</li>
        </ul>
        
        <br />
        
        <h2>About SIAC Feedback</h2>
        SIAC Feedback was created by Brian Yu, a sophomore at Harvard College, and Nicole Zhang, a junior at Amador Valley High School and the Co-President of SIAC, in order to improve student-teacher relationships by providing students in the PUSD with a simple and anonymous way to give teachers constructive feedback. This aligns with the council’s mission to provide students with agency, ultimately contributing to their belief that they are agents for change. SIAC Feedback empowers students to communicate their thoughts and concerns about instruction in the classroom and their own personal learning. Teachers benefit by receiving input from students that can improve teaching practices, curriculum, instruction, and the classroom environment.
    </div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-about').addClass('active');   
});
</script>
{% endblock %}