{% if user != None %}
{% extends "portal/portalbase.html" %}
{% else %}
{% extends "home/homebase.html" %}
{% endif %}

{% block headline %}
Contact SIAC Feedback
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <input autofocus class="form-control" id="name" type="text" placeholder="First and Last Name (Optional)"><br/>
        <input class="form-control" id="email" type="email" placeholder="Email Address (Optional)"><br/>
        <textarea class="form-control" id="feedback" rows="5" placeholder="Feedback, Questions, Bugs, or Reports"></textarea><br/>
        <button onclick=send() class="btn btn-primary">Send</button> <span id="send-area"></span>
        <br /><br />
    </div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-contact').addClass('active');   
});
    
function send() {
    var parameters = {
        name: $('#name').val(),
        email: $('#email').val(),
        feedback: $('#feedback').val()
    }
    
    $.post("{{ url_for('ajax.contact_us') }}", parameters, function(data, textStatus) {
        $('#send-area').html('Message submitted successfully.');
    }, "json");
}
</script>
{% endblock %}