{% extends "base.html" %}


{% block sidebar %}
<li class="active">
    <a href={{ url_for('home.homepage') }}>
        <i class="pe-7s-home"></i>
        <p>Home</p>
    </a>
</li>
<li>
    <a href="#">
        <i class="pe-7s-user"></i>
        <p>Log In</p>
    </a>
</li>
<li>
    <a href="#">
        <i class="pe-7s-add-user"></i>
        <p>Register</p>
    </a>
</li>
<li>
    <a href={{ url_for('home.about') }}>
        <i class="pe-7s-news-paper"></i>
        <p>About Us</p>
    </a>
</li>
<li>
    <a href={{ url_for('home.contact') }}>
        <i class="pe-7s-mail"></i>
        <p>Contact</p>
    </a>
</li>
{% endblock %}