{% extends "home/homebase.html" %}

{% block headline %}
SIAC Feedback Home
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Welcome to SIAC Feedback
        <br /><small>for the Pleasanton Unified School District</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="header">
                <h4 class="title">A Message for Teachers</h4>
            </div>
            <div class="content">
                <div class="row"><div class="col-sm-12">
                    Dear Teachers, <br/><br/>
                    Welcome to SIAC Feedback! We would like to thank you for all the work you do to support your students. We hope that you will use SIAC Feedback to assist you in your work. Anonymous feedback from your students has the great potential to help you identify the needs of all students so that you may modify your	teaching practices, curriculum, or classroom environment to meet those needs. <br/><br/>
                    
                    To get started, please <a href="{{ url_for('home.register') }}">register</a> for SIAC Feedback. <br/><br/>
                    
                    If you have any questions, comments, or concerns, please <a href="{{ url_for('home.contact') }}">contact us</a>.
                    
                    Sincerely,
                    
                    The Creators of SIAC Feedback
                </div></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="header">
                <h4 class="title">A Message for Students</h4>
            </div>
            <div class="content">
                <div class="row"><div class="col-sm-12">
                    Dear Students, <br/><br/>
                    Welcome to SIAC Feedback! We would like to thank you for being an engaged member of this school district. We hope that you will take advantage of this opportunity to provide your teachers with constructive feedback in order to improve your learning experience. You have the power to make a positive difference at your school, and it can start with SIAC Feedback. <br/><br/>
                    
                    To get started, please <a href="{{ url_for('home.register') }}">register</a> for SIAC Feedback. <br/><br/>
                    
                    If you have any questions, comments, or concerns, please <a href="{{ url_for('home.contact') }}">contact us</a>.
                    
                    Sincerely,
                    
                    The Creators of SIAC Feedback
                </div></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        This website is not affiliated with or sponsored by the Pleasanton Unified School District.
    </div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-home').addClass('active');   
});
</script>
{% endblock %}
