{% extends "home/homebase.html" %}

{% block headline %}
SIAC Feedback Home
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Welcome to SIAC Feedback
        <br /><small>for the Pleasanton Unified School District</small></h2>
        
        HOMEPAGE TEXT
        <br /><br />
        This website is not affiliated with or sponsored by the Pleasanton Unified School District.
    </div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-home').addClass('active');   
});
</script>
{% endblock %}