{% extends "portal/portalbase.html" %}

{% block headline %}
SIAC Feedback
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Your Account is Inactive.</h3>
        <br /><br />
        Please check your email for an activation link for your account. If you have not received an activation link for your account within 10 minutes of requesting an account, please contact SIAC Feedback. Be sure to also check your Junk messages if you do not receive an email in your standard inbox.
    </div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-home').addClass('active');   
});
</script>
{% endblock %}