{% extends "base.html" %}


{% block sidebar %}
<li id="sidebar-home">
    <a href="{{ url_for('portal.portal_page') }}">
        <i class="pe-7s-home"></i>
        <p>Home</p>
    </a>
</li>

{% if user["acct_type"] == "Student" %}
<li id="sidebar-general">
    <a href="{{ url_for('portal.student_general') }}">
        <i class="pe-7s-back-2"></i>
        <p>General Feedback</p>
    </a>
</li>
<li id="sidebar-classes">
    <a href="{{ url_for('portal.student_courses') }}">
        <i class="pe-7s-notebook"></i>
        <p>Classes</p>
    </a>
</li>
<li id="sidebar-replies">
    <a href="{{ url_for('portal.student_responses') }}">
        <i class="pe-7s-back-2"></i>
        <p>Responses</p>
    </a>
</li>
{% elif user["acct_type"] == "Teacher" %}
<li id="sidebar-general">
    <a href="{{ url_for('portal.teacher_general') }}">
        <i class="pe-7s-back-2"></i>
        <p>General Feedback</p>
    </a>
</li>
<li id="sidebar-classes">
    <a href="{{ url_for('portal.teacher_courses') }}">
        <i class="pe-7s-notebook"></i>
        <p>My Classes</p>
    </a>
</li>
{% elif user["acct_type"] == "SIAC" %}
<li id="sidebar-pending">
    <a href="{{ url_for('portal.pending') }}">
        <i class="pe-7s-back-2"></i>
        <p>Pending Feedback</p>
    </a>
</li>
{% endif %}

<li id="sidebar-settings">
    <a href="{{ url_for('portal.settings') }}">
        <i class="pe-7s-settings"></i>
        <p>Settings</p>
    </a>
</li>

<li id="sidebar-contact">
    <a href="{{ url_for('portal.contact') }}">
        <i class="pe-7s-mail"></i>
        <p>Contact</p>
    </a>
</li>

<li id="sidebar-logout">
    <a href="{{ url_for('portal.logout') }}">
        <i class="pe-7s-user"></i>
        <p>Log Out</p>
    </a>
</li>
{% endblock %}