{% extends "portal/portalbase.html" %}

{% block headline %}
SIAC Feedback
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        Welcome to SIAC Feedback.
        <br /><br />
        {% if user["acct_type"] == "Teacher" %}
        <div class="card">
            <div class="header">
                <h4 class="title">SIAC Feedback Filter</h4>
            </div>
            <div class="content">
                <div class="row"><div class="col-sm-12">
                    SIAC Feedback offers teachers the option to have all general feedback reviewed first by Pleasanton SIAC (the Student Inter-Schools Action Council) for blatantly offensive comments and spam before reaching you. This feature is optional: if it is turned off, then feedback will go directly to you without being seen by anyone else.
                    <br /><br />
                    SIAC Feedback Filter is currently:<br />
                    <b style="font-size:24px;">{% if siac_filter %}ON{% else %}OFF{% endif %}</b> &nbsp;&nbsp;&nbsp;&nbsp;
                    <button onclick="toggleFilter()" class="btn btn-sm btn-primary">Turn {% if siac_filter %}Off{% else %}On{% endif %}</button>
                </div></div>
            </div>
        </div>
        {% elif user["acct_type"] == "Student" %}
        <div class="card">
            <div class="header">
                <h4 class="title">SIAC Feedback Emails</h4>
            </div>
            <div class="content">
                <div class="row"><div class="col-sm-12">
                    SIAC Feedback has the option to send you emails whenever a teacher posts a new question in a class that you are a part of. This feature is optional: if it is turned off, then you will not receive any emails from SIAC Feedback.
                    <br /><br />
                    SIAC Feedback Emails are currently:<br />
                    <b style="font-size:24px;">{% if user['settings']['send_emails'] %}ON{% else %}OFF{% endif %}</b> &nbsp;&nbsp;&nbsp;&nbsp;
                    <button onclick="toggleEmails()" class="btn btn-sm btn-primary">Turn {% if user['settings']['send_emails'] %}Off{% else %}On{% endif %}</button>
                </div></div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-home').addClass('active');   
});
    
function toggleFilter() {
    var parameters = {
        teacher_id: "{{ user['_id']|string }}"
    }
    
    $.post("{{ url_for('ajax.toggle_filter') }}", parameters, function(data, textStatus) {
       location.reload(true);
    });
}
    
function toggleEmails() {
    var parameters = {
        user_id: "{{ user['_id']|string }}"
    }
    
    $.post("{{ url_for('ajax.toggle_emails') }}", parameters, function(data, textStatus) {
       location.reload(true); 
    });
}
</script>
{% endblock %}