{% extends "portal/portalbase.html" %}

{% block headline %}
{{ course['name'] }} : Question Detail
{% endblock %}

{% block content %}
<a href="{{ url_for('portal.teacher_course', course_id = course['_id']|string ) }}" class="btn btn-sm btn-primary">< Back to Class</a>
<br /><br />
<h5>{{ question['name'] }}</h5>
<br />
This question is currently: <b style="font-size:22px;">{% if question['open'] %}OPEN{% else %}CLOSED{% endif %}</b> for responses. 
{% if question['open'] %}
<button onclick=toggleQuestionOpen(false) class="btn btn-sm btn-primary">Close Question</button>
{% else %}
<button onclick=toggleQuestionOpen(true) class="btn btn-sm btn-primary">Open Question</button>
{% endif %}
<br /><br />
<div class="row">
    <div class="col-sm-12">
        <table id="responses-table" class="table table-hover table-striped" style="font-size:14px;">
            <thead>
                <th>Delete</th>
                <th>Respond</th>
                <th>Response</th>
                <th>Timestamp</th>
                <th>Responded Yet</th>
            </thead>
            <body>
                {% for response in responses %}
                <tr>
                    <td><button onclick=deleteResponse("{{ response['_id']|string }}") class="btn btn-xs btn-danger">Delete</button></td>
                    <td><button onclick=respond("{{ response['_id']|string }}") class="btn btn-xs btn-primary">Respond</button></td>
                    <td>{{ response.contents }}</td>
                    <td>{{ response.timestamp }}</td>
                    <td>{{ response.responded_yet }}</td>
                </tr>
                {% endfor %}
            </body>
        </table>
        <br /><br />
    </div>
</div>
{% endblock %}

{% block outerbody %}
<div id="respondModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Respond to Feedback</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="response-area" rows="5" style="resize:vertical;"></textarea>
            </div>
            <div class="modal-footer">
                <span id="submit-response-result"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <span id="submit-response-span"></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-classes').addClass('active');   
    $('#responses-table').DataTable();
});

function toggleQuestionOpen(status) {
    var parameters = {
        question_id: "{{ question['_id']|string }}",
        open_status: status
    }
    
    $.post("{{ url_for('ajax.toggle_question_open') }}", parameters, function(data, textStatus) {
       location.reload(true); 
    });
}
    
function deleteResponse(response_id) {
    var parameters = {
        response_id: response_id
    }
    
    $.post("{{ url_for('ajax.delete_response') }}", parameters, function(data, textStatus) {
       location.reload(true); 
    });
}

function respond(feedback_id) {
    $('#submit-response-span').html('<button type="button" class="btn btn-primary" onclick=submitResponse("' + feedback_id + '")>Respond</button>');
    $('#respondModal').modal();

}

function submitResponse(feedback_id) {
    var parameters = {
        feedback_id: feedback_id,
        contents: $('#response-area').val()
    }
    
    $.post("{{ url_for('ajax.send_question_reply') }}", parameters, function(data, textStatus) {
        $('#submit-response-result').html('Reply successfully submitted.');
    }, "json");
}

</script>
{% endblock %}