{% extends "portal/portalbase.html" %}

{% block headline %}
General Feedback
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <table id="feedback-table" class="table table-hover table-striped" style="font-size:14px;">
            <thead>
                <th>Delete</th>
                <th>Respond</th>
                <th>Feedback</th>
                <th>Timestamp</th>
                <th>Responded Yet</th>
            </thead>
            <body>
               {% for item in feedback %}
               <tr>
                   <td id="status-row-{{ item['_id']|string }}"><button onclick=deleteFeedback("{{ item['_id']|string }}") class="btn btn-xs btn-danger">Delete</button></td>
                <td><button onclick=respond("{{ item['_id']|string }}") class="btn btn-xs btn-primary">Respond</button></td>
                <td id="feedback-contents-{{ item['_id']|string }}" style="white-space:pre-wrap;">{{ item.contents }}</td>
                <td>{{ item.timestamp }}</td>
                <td id="responded-yet-{{ item['_id']|string }}">{{ item.responded_yet }}</td>
                </tr>
                {% endfor %}
            </body>
        </table>
        <br /><br />
    </div>
</div>
{% endblock %}

{% block outerbody %}
<div id="respondModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Respond to Feedback</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="response-area" rows="5" style="resize:vertical;"></textarea>
            </div>
            <div class="modal-footer">
                <span id="submit-response-result"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <span id="submit-response-span"></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-general').addClass('active');   
    $('#feedback-table').DataTable();
});
    
function deleteFeedback(feedback_id) {
    var parameters = {
        feedback_id: feedback_id
    }
    
    $.post("{{ url_for('ajax.reject_general_feedback') }}", parameters, function(data, textStatus) {
        $('#status-row-' + feedback_id).html('Deleted');
    });
}

function respond(feedback_id) {
    $('#submit-response-span').html('<button type="button" class="btn btn-primary" onclick=submitResponse("' + feedback_id + '")>Respond</button>');
    contents = $('#feedback-contents-' + feedback_id).html();
    $('#response-area').val('\n\nResponse to:\n\n' + contents);
    $('#respondModal').modal();

}

function submitResponse(feedback_id) {
    var parameters = {
        feedback_id: feedback_id,
        contents: $('#response-area').val()
    }
    
    $.post("{{ url_for('ajax.send_general_reply') }}", parameters, function(data, textStatus) {
        $('#submit-response-result').html('Reply successfully submitted.');
        $('#responded-yet-' + feedback_id).html('Yes');
    }, "json");
}

</script>
{% endblock %}
